doctype html
html
	head
	meta(charset="utf-8")
	<!--[if IE]>
	script.
		location.href = './upgrade.html'
	<![endif]-->
	link(rel="stylesheet" href="../../bower_components/normalize-css/normalize.css")
	link(rel="stylesheet" href="../../bower_components/fullpage.js/dist/jquery.fullpage.css")
	link(rel="stylesheet" href="../../dist/styles/index.css")
	body
		#fullpage
			//- section1// {{{
			.section
				.content
					header
						i.logo
						ul.nav
							li.nav__item
								a(href="javascript:void 0") 技术支持
					.promo-crossroad
						dl.promo-crossroad__item
							dt.promo-crossroad__title
								a(href="http://sccuat2.midea.com/" title="进入系统")
									img(src="../../assets/icon1.svg").promo-crossroad__img
									| SCC
							dd.promo-crossroad__text.
								高效、透明、协同、智能的在线采购平台
						dl.promo-crossroad__item
							dt.promo-crossroad__title
								a(href="#secondPage")
									img(src="../../assets/icon3.svg").promo-crossroad__img
									| MES & AFS
							dd.promo-crossroad__text.
								高效、透明、协同、智能的在线采购平台
								
								// }}}

			//- section2
			.section
				.content
					.canvas
						.main-building
							.building__moat-around
								.building__block(style="left: 10px;")
								.building__block(style="left: 15px;top:31px;")
								.building__block(style="left: 20px;top:62px;")
								.building__block(style="left: 25px;top:93px;")
								.building__block(style="left: 30px;top:124px;")
								.building__block(style="left: 35px;top:155px;")
								.building__block(style="left: 40px;top:186px;")
								.building__block(style="left: 45px;top:217px;")
								.building__block(style="left: 50px;top:248px;")
								.building__block(style="left: 55px;top:279px;")
								.building__block(style="left: 60px;top:310px;")
								.building__block(style="left: 65px;top:341px;")
								.building__block(style="left: 70px;top:372px;")
							.building__moat-around--shade
								.building__block--shade(style="width:30px;top:4px;")
								.building__block--shade(style="width:35px;top:35px;")
								.building__block--shade(style="width:40px;top:66px;")
								.building__block--shade(style="width:45px;top:97px;")
								.building__block--shade(style="width:50px;top:128px;")
								.building__block--shade(style="width:55px;top:159px;")
								.building__block--shade(style="width:60px;top:190px;")
								.building__block--shade(style="width:65px;top:221px;")
								.building__block--shade(style="width:70px;top:252px;")
								.building__block--shade(style="width:75px;top:283px;")
								.building__block--shade(style="width:80px;top:314px;")
								.building__block--shade(style="width:85px;top:345px;")
								.building__block--shade(style="width:90px;top:376px;")

						#lvbf.vice-building--flat(style="left:20px;top:280px;height:100px;")
							.building__moat-around
								.building__block--vertical(style="left:-8px;background:#888;")
								.building__block--vertical(style="left:-7px;")
								.building__block--vertical(style="left:-6px;")
								.building__block--vertical(style="left:-5px;")
								.building__block--vertical(style="left:-4px;")
								.building__block--vertical(style="left:-3px;")

						#rvbf.vice-building--flat(style="left: 266px;top:300px;")
							.building__moat-around
								.building__block--vertical(style="")
								.building__block--vertical(style="left:1px;")
								.building__block--vertical(style="left:2px;")
								.building__block--vertical(style="left:3px;")
								.building__block--vertical(style="left:4px;")
								.building__block--vertical(style="left:5px;")
								.building__block--vertical(style="left:6px;")

						.vice-building(style="left:408px;top:225px;")
							.building__moat-around
								.building__block(style="left: 30px;")
								.building__block(style="left: 35px;top:31px;")
								.building__block(style="left: 40px;top:62px;")
								.building__block(style="left: 45px;top:93px;")
								.building__block(style="left: 50px;top:124px;")
							.building__moat-around--shade
								.building__block--shade(style="width:50px;top:5px;")
								.building__block--shade(style="width:55px;top:36px;")
								.building__block--shade(style="width:60px;top:67px;")
								.building__block--shade(style="width:65px;top:98px;")
								.building__block--shade(style="width:70px;top:129px;")

						//- tree// {{{
						.tree.tree--far(style="top:350px;left:0px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree.tree--far(style="top:355px;left:23px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree.tree--far(style="top:357px;left:85px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree(style="top:360px;left:53px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree(style="top:358px;left:120px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree(style="top:340px;left:145px;")
							.tree--shade.tree--tall
								div
							.tree--high-light.tree--tall
								div
						.tree(style="top:338px;left:223px;")
							.tree--shade.tree--tall
								div
							.tree--high-light.tree--tall
								div
						.tree(style="top:360px;left:188px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree.tree--far(style="top:360px;left:290px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree(style="top:362px;left:260px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree(style="top:358px;left:436px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree.tree--far(style="top:350px;left:386px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree(style="top:360px;left:406px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree.tree--far(style="top:351px;left:545px;")
							.tree--shade
								div
							.tree--high-light
								div
						.tree(style="top:342px;left:520px;")
							.tree--shade.tree--tall
								div
							.tree--high-light.tree--tall
								div
									// }}}

						dl.features#features
							dt.features__title
								.cloud
									.cloud__top
									.cloud__left
									.cloud__top-right
									.cloud__right
									.cloud__bottom
								h2 MES & AFS
								a.btn(href="javascript:void 0") 下载客户端吧 ^_^
							dd.features__item#fi1
								|功能点1
							dd.features__item#fi2
								|功能点2
							dd.features__item#fi3
								|功能点3
							dd.features__item#fi4
								|功能点4

					footer
						p.links
							a(href="") 联系我们
							a(href="") 服务条款
							a(href="") 隐私政策
							a.locale
								img(src="../../assets/china.png" width="20" height="20")
								|中国
						p.copyright 
							| Copyright © 1968-2016 美的集团股份有限公司 
							a(href="http://www.miitbeian.gov.cn/" target="_blank") 粤ICP备09215446号
							img(src="../../assets/icon_cx.png" width="42" height="15" 
									style="vertical-align:middle;margin-left:5px;position:relative;top:-2px;")
	script(src="../../bower_components/jquery/dist/jquery.min.js")
	script(src="../../lib/jscomp.js")
	script(src="../../bower_components/fullpage.js/dist/jquery.fullpage.min.js")
	script(src="../../node_modules/move-js/move.min.js")
	script(src="../scripts/output.min.js")
